<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Vending_Machine">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true"/>

    <application
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:allowBackup="false"
        android:icon="@drawable/logo_quadrato"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_tondo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme">

        <activity android:name="com.example.Vending_Machine.Start_Activity_0">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.Vending_Machine.Main_Activity_1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.Vending_Machine.Select_Product_3">
        </activity>

        <activity android:name=".Buy_Product_4">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Info_5">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.Vending_Machine.Connection_2">
        </activity>

        <activity android:name=".Purchase_Done_6">
        </activity>

        <activity android:name=".Purchase_Not_Completed_7">
        </activity>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false"/>

    </application>

</manifest>