@font-face {
  font-family: Montserrat-Regular;
  src: url('fonts/montserrat/Montserrat-Regular.ttf');
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('fonts/montserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: Montserrat-ExtraBold;
  src: url('fonts/montserrat/Montserrat-ExtraBold.ttf');
}

@font-face {
  font-family: Montserrat-Medium;
  src: url('fonts/montserrat/Montserrat-Medium.ttf');
}


body {
 background-image: url("img/background.jpg");
 background-color: #cccccc;
}

input{
  width: 50%;
  border-radius: 10px
}

form{
  display: inline-block;
  position: relative;
  left: 15%;
  bottom: 40%;
}

img{
  opacity: 0.95;
}

#form_div{
  background: rgba(255, 255, 255, 0.65);
  border-radius: 10px;
  overflow: hidden;
  width: 55%;
  height: 230px;
  margin: auto;
  margin-top: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  justify-content: space-between;
  align-items: center;

}

#image_div{
  display: inline-block;
  position: relative;
  left: 5%;
  bottom: 10%;
}

#form_title{
  display: block;
  font-family: Montserrat-ExtraBold;
  font-size: 24px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.submit{
  display: block;
  width: 100%;
  background: #88e670;
  font-family: Montserrat-Bold;
  font-size: 15px;
  line-height: 2.5;
  color: #ffffff;
}

#button_message{
  font-family: Montserrat-Bold;
  font-size: 15px;
}

button{
  background: #88e670;
  font-family: Montserrat-Bold;
  font-size: 15px;
  color: #ffffff;
  height: 35px;
  width: 100%;
  border-radius: 10px;
  justify-content: center;
}
